<article class="container">
    <section class="row">
        <p class="col-3">Total Views: </p>
        <div class="col-4">
            <span id="totalViewCounter"></span>
        </div>
    </section>
    <section class="row">
        <p class="col-3">Total Views: </p>
        <div class="col-4">
            <span id="totalConnection"></span>
        </div>
    </section>
</article>

<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>